#App {
  background-color: #0c7ca2;
}

#main {
  background: #1dcceb;
  height: 100%;
  border-bottom: 1px solid #73e2f7;
}

.speaker {
  padding-top: 50px;
  text-align: center;
}

.speaker img {
  height: 194px;
  width: 274px;
}

.logo {
  color: #ffffff;
  padding: 5px 6px 0 0;
  text-align: right;
}

.logo img {
  width: 195px;
  height: 31px;
}

.settings {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: absolute;
  top: 6px;
  width: 32px;
  z-index: 1;
  background: transparent url('img/settings.png') no-repeat 4px 4px;
  background-size: 24px 24px;
  right: 38px;

  -webkit-app-region: no-drag;
}

.buttons {
  padding: 0 20px;
}

.button-sound {
  background-color: #0c7ca2;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin-top: 57px;
  position: relative;
  width: 24px;
  box-shadow: 0 4px 0 #044d7f;
  top: 0px;

  transition: top 0.3s ease, box-shadow 0.3s ease;

  -webkit-app-region: no-drag;
}

.button-sound:hover {
  box-shadow: 0 2px 0 #044d7f;
  top: 2px;
}

.button-sound:hover > .button-icon {
  top: -42px;
}

.button-sound:active {
  box-shadow: 0 0 0 #044d7f;
  top: 5px;
}

.button-sound:active > .button-icon {
  top: -45px;
}

.button-icon {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 30px;
  left: -2px;
  position: absolute;
  top: -40px;
  -webkit-app-region: no-drag;

  transition: top 0.3s ease;
}

.button-icon.ba-dum-tsss {
  background-image: url('img/icons/ba-dum-tsss.png');
}
.button-icon.applause {
  background-image: url('img/icons/applause.png');
}
.button-icon.burp {
  background-image: url('img/icons/burp.png');
}
.button-icon.crowd-laughing {
  background-image: url('img/icons/crowd-laughing.png');
}
.button-icon.fart {
  background-image: url('img/icons/fart.png');
}
.button-icon.money {
  background-image: url('img/icons/money.png');
}
.button-icon.sad-trombone {
  background-image: url('img/icons/sad-trombone.png');
}
